*
{
    margin: 0;
    padding: 0;
}
ul, li
{
    list-style: none;
}
img
{
    border-style: none;
}
i, b
{
    font-style: normal;
    font-weight: normal;
}
input
{
    /*outline: none;*/
    border: none;
}

/*正文部分开始*/
body, html { width: 100%; height: 100%; background-color: #f1f3f7; font-family: "Microsoft YaHei"; font-size: 14px; color: #767677; }


.clearfix:after
{
    content: '';
    display: table;
    clear: both;
}
/*标题*/
.com-con-title
{
    padding: 0 3%;
    width: 94%;
    margin-top: 2%;
}
.com-con-title .title
{
    width: 100%;
    height: 48px;
    background: #fff;
    border-bottom: 1px solid #dddddd;
}
.com-con-title .title > span
{
    line-height: 48px;
    margin-left: 14px;
    font-size: 20px;
    color: #353535;
}
.com-con-title .back
{
    float: right;
    margin-top: 16px;
    margin-right: 20px;
    cursor: pointer;
}
/*导航条*/
.com-step-nav
{
    position: relative;
    padding: 0 3%;
    width: 94%;
    height: 80px;
}
.com-step-nav .common-step-nav-bg
{
    width: 100%;
    height: 100%;
    background: #fff;
}
.com-step-nav ul
{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 8px;
    margin-left: 10%;
    list-style: none;
}
.com-step-nav ul li
{
    float: left;
    height: 30px;
    padding: 0 4.5%;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.com-step-nav ul li i
{
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 14px;
    background-image: url('/Images/common/not_edit.png');
    float: left;
    font-style: normal;
}
.com-step-nav ul li span
{
    display: block;
    float: left;
    margin-left: 8px;
}
.com-step-nav ul li.on-edit
{
    border-bottom: 1px solid #ff5521;
    color: #ff5521;
}
.com-step-nav ul li.on-edit i
{
    background-image: url('/Images/common/on_edit.png');
}
.com-step-nav ul li.ready-edit
{
    border-bottom: 1px solid #6dbcea;
    color: #6dbcea;
}
.com-step-nav ul li.ready-edit i
{
    background-image: url('/Images/common/ready_edit.png');
}
/*流程导航图结束*/
/*表格开始*/
.com-table
{
    position: relative;
    padding: 0;
    width: 100%;
    color: #000;
}
.com-table .com-table-bg
{
    background: #fff;
    padding: 2% 0;
}
.com-table .com-table-bg table
{
    width: 100%;
    border-collapse: collapse;
}
.com-table .com-table-bg table.com-table-first
{
    margin: 0 auto;
    padding:0 5;
    width: 800px;
}
.com-table .com-table-bg table tr td
{
    text-align: center;
    border: 1px solid #010101;
    line-height: 40px;
    background: #fff;
}
.com-table .com-table-bg table tr.gray-bg td
{
    background: #e6e6e6;
}
.com-table .com-table-bg table tr td.com-table-title
{
    border-width: 0px;
}
.com-table .com-table-bg table tr td.com-table-title p.table-title
{
    font-size: 22px;
}
.com-table .com-table-bg table tr.daihao td
{
    text-align: left;
    line-height: 26px;
    padding: 4px;
    height: 270px;
}
.com-table .com-table-bg table tr td.checkbox-td
{
    line-height: 20px;
    text-align: left;
    padding: 5px 4px 10px 10px;
}
.com-table .com-table-bg table tr td.checkbox-td input
{
    vertical-align: middle;
}
.com-table .com-table-bg table tr td.checkbox-td i
{
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 4px;
}
.dayin-btn
{
    width: 87px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #46c9a1;
    cursor: pointer;
    margin-right: 8%;
    margin-top: 50px;
    border-radius: 5px;
    position:absolute;
    left:20px;
    z-index:99;
}
/*表格结束*/

